.root {
  background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
  box-shadow: 0px 1px 8px #24c64f;
  border-radius: 0 0 15px 15px;
  transition: all 1s linear;
  &-appear {
    transform: translateY(-100%);
    opacity: 0;
    &-active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.toolbar {
  justify-content: space-between;
  transition: all 1s linear;
}

.list {
  display: flex;
  transition: all 1s linear;
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
    }
  }
}

.item {
  width: max-content;
}

.link {
  color: white;
  text-decoration: none;
  position: relative;
  transition: width 0.5s;
  &:hover::after {
    content: '';
    height: 3px;
    animation: underline 1s alternate forwards;
    display: block;
    position: absolute;
    background-color: yellow;
    border-radius: 3px;
  }
}

@keyframes underline {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}

.box {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  border-radius: 15px;
  background-color: red;
  z-index: 10;
}

.button {
  transition: all 1s linear;
  &-enter {
    opacity: 0;
    transform: rotate(360deg);
    &-active {
      opacity: 1;
      transform: rotate(0);
    }
  }
}
